name: CI
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v2
      - name: Use Node 14.x
        uses: actions/setup-node@v2.4.1
        with:
          node-version: 14.x
      - uses: actions/cache@v2
        with:
          path: ./.yarn
          key: ${{ runner.os }}-modules-${{ hashFiles('yarn.lock') }}
      - name: Install packages
        run: yarn install
      - name: Build
        run: yarn build
      - name: Lint
        run: yarn lint:ci
      - name: Size
        run: yarn size
